@media (max-width: 767px) {
  .header {
    margin: 6.3rem;
    width: 81%;
    margin: 6.3rem 0;
    position: relative;
    padding: 1.3rem 2rem;
  }

  .header-logo {
    width: 6.4rem;
    position: absolute;
    top: -8.5rem;
    left: 42%;
  }

  .header-social-icons {
    width: inherit;
    position: absolute;
    top: -41px;
  }

  #social-icon {
    height: 1.7rem;
    filter: invert(1) grayscale(1);
  }

  .uniswap-img {
    height: 3.3rem !important;
  }

  .header-button {
    font-size: 1.5rem;
    width: 11rem;
  }

  .nav-button {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .heroLogoImg {
    height: 27rem;
  }

  .welcome-text .line1 {
    font-size: 5rem;
  }

  .welcome-text .line2 {
    font-size: 7rem;
  }

  .info-content {
    display: flex;
    background: linear-gradient(323deg, #ffc9b9 0%, #772817 100%);
    flex-direction: column;
  }

  .info-section {
    height: 95rem;
  }

  .info-title {
    font-size: 4rem;
  }

  .info-text {
    text-align: center;
    padding: 0px 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tree-gif {
    bottom: -0.23rem;
  }

  .info-image {
    margin-top: 0;
    display: flex;
    justify-content: center;
  }

  .tree-gif-img {
    height: 36rem;
    width: 29rem;
  }

  .tree-svg-img {
    height: 36rem;
    width: 33.9rem;
  }

  .footer-image-absolute {
    height: 15rem;
    bottom: 2rem;
    left: 1.3rem;
  }

  .bottom-pumpkin-img {
    height: 17rem;
  }

  .bottom-left {
    bottom: 5rem;
    left: -1rem;
  }
  .tokenomic-image {
    width: 80%;
  }

  .footer-uniswap-img {
    height: 4.4rem;
    position: relative;
    bottom: 0.2rem;
  }

  .footer-social-icons {
    position: absolute;
    width: -webkit-fill-available;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 2rem;
    bottom: 0;
    left: 0;
  }

  .footer-image-full {
    height: 11rem;
    object-fit: cover;
    bottom: -1.5rem;
  }
}

@media (max-width: 380px) {
  .header {
    width: 84%;
  }

  .bottom-pumpkin-img {
    height: 15rem;
  }

  .bottom-left {
    bottom: 5rem;
    left: -1rem;
  }
}
