/* Medium screens (tablets, 768px and up) */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    text-align: center;
    max-width: 616px;
  }
  .header-logo {
    max-width: 119px;

    position: relative;
    bottom: 104px;
  }
  .memeCoinButton {
    position: relative;
    left: 125px;
  }
  .header-social-icons {
    margin-top: 10px;
    display: none;
  }

  .info-content {
    flex-direction: column;
  }

  .info-text {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .footer-social-icons {
    margin-top: 20px;
  }
  .footer-image-absolute {
    bottom: 8.2rem;
    position: absolute;
    left: 3.3rem;
    height: 30rem;
  }

  .nav-button {
    display: flex;
    width: 55%;
    margin-top: 6px;
  }

  .tree-svg-img {
    visibility: visible;
    height: 250px;
    margin: auto;
    width: 100%;
    margin-top: 26px;
  }
  .info-img {
    margin-top: 0;
  }
  .tree-gif-img {
    margin: auto;
    width: 100%;
    visibility: visible;
    height: 240px;
    margin-left: 140px;
    margin-top: 26px;
  }

  /* styles.css */
  .header2 {
    position: relative;
    display: inline-block;
    left: 35.3rem;
    bottom: 29.9rem;
  }

  .dropdown-toggle {
    color: #772817;
    background-color: #ffc9b9;
    padding: 6px 13px;
    border: none;
    cursor: pointer;
    font-size: 16px;
  font-family: "Shlop";

  }

  .dropdown-menu {
    display: none;
    position: absolute;
    background: #772817;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 10px 13px;
    z-index: 1;
    text-align: -webkit-center;
    top: 50px;
  }

  .dropdown-menu img {
    display: block;
    margin: 5px 0;
  }
  .uniswap-img {
    width: 6.4rem;
  }

  .show {
    display: block;
  }
}

/* Small screens (phones, 480px and up) */
@media (max-width: 428px) {
  .header-logo {
    max-width: 119px;
    position: relative;
    bottom: 104px;
  }
  .nav-button {
    display: flex;
    width: 88%;
    margin-top: 6px;
  }
  .memeCoinButton {
    position: relative;
    left: 103px;
    font-size: 15px;
  }
  .header {
    height: 44px;
    margin-bottom: 35px;
  }
  .header2 {
    position: relative;
    display: none;
    left: 20.3rem;
    bottom: 4.2rem;
  }
  .header-button {
    position: relative;
    right: 22px;
  }
  .heroLogoImg {
    height: 160px;
  }
  .header-social-icons {
    display: none;
  }
  .welcome-text {
    text-align: center;
    opacity: 1;
    font-family: "Shlop";
    color: #94482b;
  }

  .welcome-text .line1 {
    font-size: 3.5rem;
  }
  .welcome-text .line2 {
    font-size: 4.5rem;
  }

  .header-social-icons img {
    width: 20px;
  }

  .info-text .info-title {
    font-size: 2.25rem;
  }

  .info-text .info-description {
    font-size: 1.2rem;
  }
  .bottom-pumpkin-img {
    height: 130px;
  }
  .bottom-left {
    position: absolute;
    bottom: 24px;
    left: 0;
  }
  .tree-svg-img {
    visibility: hidden;
    margin: auto;
    margin-top: 26px;
    width: 100%;
  }
  
  .tree-gif-img {
    margin: auto;
    visibility: visible;
    position: relative;
    left: 94px;
    bottom: 5px;
  }

  .tokenomic-section .tokenomic-title {
    font-size: 4.5rem;
}
  .tokenomic-image{
    width: 65%;
  }
  .tokenomic-section {
    background-color: #ffc9b9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 13rem;
  }
  .footer-image-absolute {
    bottom: 5.2rem;
    position: absolute;
    left: 4.3rem;
    height: 13rem;
  }
  .footer-social-icons {
    position: absolute;
    left: 17rem;
    bottom: 3rem;
    width: 40%;
    height: 1.8rem;
    gap: 1.6rem;
    display: flex;
    justify-content: flex-end;
  }
  .footer-social-icons img {
    width: 20px;
  }
}

